.cab{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container{
    display: flex;
    align-items: center;
}
.container_botao{
    display: none;
}
.cab_menu{
    width: 24px;
    height: 24px;
    background-image: ("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    weight: 24px;
    height: 24px; 
}
.container_img{
    padding: 1em;
}
.lista_menu{
    display: none;
    position: absolute;
    top: 90%;
    background-color: var(--branco);
    width: 40vw;
}
.lista_menu_tit{
    color: aqua;
    font-weight: 800px;
}
.container_botao:checked~.lista_menu{
    display: block;
}
container_botao:checked~.lista_item{}