
body{
    background-color: rgb(208, 154, 245);
}
#bt1{
    color: rgb(0, 0, 0);
    background-color: rgb(212, 41, 135);
    padding: 15px;
    border-radius: 15px;
    width: 50%;
    cursor: pointer;
}
#bt2{
    color: rgb(0, 0, 0);
    background-color: rgb(152, 78, 206);
    padding: 15px;
    border-radius: 15px;
    width: 50%;
    cursor: pointer;
}
#bt3{
    color: rgb(0, 0, 0);
    background-color: rgb(47, 106, 184);
    padding: 15px;
    border-radius: 15px;
    width: 50%;
    cursor: pointer;
}
#bt1:hover{
    background-color: rgb(207, 134, 201);
}
#bt2:hover{
    background-color: rgb(97, 63, 136);
}
#bt3:hover{
    background-color: rgb(117, 135, 214);
}