body {
    margin: 7;
    background: #ab4bfa ;
    display: flex;
    justify-content: center;
    color: rgb(79, 26, 83);
  }

  .conteudo {
    width: 80vw;
    height: 93vh;
    background: #ffffff;
    border: 8px solid #ffb625;
    display: flex;
    flex-direction: column;
    gap: 26px;
    align-items: center;
    padding: 10px 10px;
    border-radius: 0px;
  }

  button {
    padding: 10px 10px;
    width: 300px;
    background-color: #8660df;
    border-radius: 6px;
  }
  button:hover{
    background-color: #937cbd;
    cursor: pointer;
  }
  img {
    width: 190px;
  }